@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  text-align: center;
  font-family: 'Neucha';
  background-color: #e5e5f7;
  opacity: 1;
  background-size: 22px 22px;
  background-image: repeating-linear-gradient(0deg, #06071867, #07082965 1px, #e4dfc6d8 1px, #d8dabcc9);
}

/*Header and score*/
.header {
  margin: 8px auto;
  color: #1A4D2E;
  font-size: 40px;
}

.score,
.header {
  background-color: rgba(194, 193, 187, 0.521);
  width: fit-content;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.score {
  margin: 0 auto;
  color: #40513B;
}

/*Question card*/
.question-card {
  background-color: #e5ebc8;

  width: max-content;
  margin: 10px auto;
  border: 1px solid #719758bb;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px;
  color: #263A29;


  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question-title {
  color: #61876E;
}

.question-text {
  font-weight: 700;
  font-style: oblique;
  margin-bottom: 15px;
  color: #263A29;
}

/*List items*/
ul {
  list-style: none;
}

li {
  cursor: pointer;
  margin: 5px;
  background-color: #F2E3DB;
  border-radius: 20px;
  border: 2px solid #3C6255;
}

li:hover {
  background-color: #a4bc92d5;
  color: #f1672c;
  font-weight: 700;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*Final result and button for restart*/
.final-result {
  color: #40513B;
  background-color: #9DC08B;
  width: max-content;
  margin: 15px auto;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.f-result-text>h2 {
  color: black;
}

.btn {
  background-color: #EDF1D6;
  color: #40513B;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.btn:hover {
  color: #FC7300;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*Media for responsive design*/
@media screen and (max-width: 680px) {
  .header {
    font-size: 30px
  }

  .question-card,
  .question-title,
  .question-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    font-size: 20px
  }

  .question-card,
  .question-title,
  .question-text {
    font-size: 16px;
  }
}